################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs
/default/.vs/VSWorkspaceState.json
/default/.vs/slnx.sqlite
/default/.vs/ProjectSettings.json
/default/.vs/default/v16/.suo
/tenants
