<tr role="module-content">
    <td height="100%" valign="top">
        <table width="600" style="width:600px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 0px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="" class="column column-0">
            <tbody>
                <tr>
                    <td style="padding:0px;margin:0px;border-spacing:0;">
                        <table class="module" role="module" data-type="code" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="2fa14aad-2649-4420-8acd-a49cbea3a66e">
                            <tbody>
                                <tr>
                                    <td height="100%" valign="top" role="module-content">
                                        {{#if Branding.ShowBrandingHeader}}
                                        <div style="font-family: inherit; text-align: center; background:#F8F8F8"><span style="font-size: 12px"> &copy; 2021 {{Branding.Copirate}} All Rights Reserved.</span></div>
                                        {{else}}
                                        <div style="font-family: inherit; text-align: center; background:#F8F8F8"><span style="font-size: 12px"> &copy; 2021 {{Restaurant.Name}} All Rights Reserved.</span></div>
                                        {{/if}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>