<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ Email.TemplateName }}</title>
  {% include 'styles' %}
</head>
<body style="margin: 0; padding: 0; background-color: #ffffff; font-family: {{ Email.Styles.FontFamily }};">
  <table role="presentation" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff;">
    <tr>
      <td align="center" style="padding: 0;">
        <table role="presentation" class="wrapper" width="600" border="0" cellspacing="0" cellpadding="0" style="max-width: 600px; width: 100%;">
          {% include 'header' %}
          
          {% if Email.Hero %}
            {% include 'hero-section' %}
          {% endif %}
          
          {% for section in Email.ContentSections %}
            {% include 'content-section' with section %}
          {% endfor %}
          
          {% if Email.Events.size > 0 %}
            {% include 'events-grid' %}
          {% endif %}
          
          {% include 'footer' %}
        </table>
      </td>
    </tr>
  </table>
</body>
</html>