<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Email</title>
    <style type="text/css">
        html {
            -webkit-text-size-adjust: none;
            -ms-text-size-adjust: none;
        }
    </style>
    <style em="styles">
        @media only screen and (max-device-width:660px),
        only screen and (max-width:660px) {
            .em-narrow-table {
                width: 100% !important;
                max-width: 660px !important;
                min-width: 320px !important;
            }

            .em-mob-wrap {
                display: block !important;
            }

            .em-mob-width-100perc {
                width: 100% !important;
                max-width: 100% !important;
            }

            .em-mob-padding_right-20 {
                padding-right: 20px !important;
            }

            .em-mob-padding_left-20 {
                padding-left: 20px !important;
            }
        }
    </style>
</head>

<body style="margin: 0; padding: 0;">
    <table style="font-size: 1px; line-height: normal;" border="0" width="100%" cellspacing="0" cellpadding="0"
        bgcolor="#F8F8F8">
        <tbody>
            <tr>
                <td align="center"><!-- [if (gte mso 9)|(IE)]>
				<table cellpadding="0" cellspacing="0" border="0" width="660"><tr><td>
				<![endif]-->
                    <table class="em-narrow-table" style="max-width: 660px; min-width: 660px; width: 660px;" border="0"
                        width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr class="em-structure">
                                <td class="em-mob-padding_left-20 em-mob-padding_right-20" style="padding: 30px 40px;"
                                    align="center">
                                    <table class="em-mob-width-100perc" style="width: 100.173%; height: 27.6042px;"
                                        border="0" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                            <tr style="height: 27.6042px;">
                                                <td class="em-mob-wrap em-mob-width-100perc"
                                                    style="width: 100.173%; height: 27.6042px;" valign="top"
                                                    width="580">
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"><img
                                                                        src="https://hostmeprod.blob.core.windows.net/emailtemplates/default/img/logo.png"
                                                                        alt="" width="84" height="32"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr class="em-structure">
                                <td class="em-mob-padding_left-20 em-mob-padding_right-20"
                                    style="padding-right: 40px; padding-left: 40px;" align="center">
                                    <table class="em-mob-width-100perc" border="0" cellspacing="0" cellpadding="0"
                                        align="center">
                                        <tbody>
                                            <tr>
                                                <td class="em-mob-wrap em-mob-width-100perc" valign="top" width="580">
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 20px 0 0; border-top: 1px solid #EEEEEE;"
                                                                    height="0">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr class="em-structure">
                                <td class="em-mob-padding_left-20 em-mob-padding_right-20" style="padding: 0px 40px;"
                                    align="center">
                                    <table class="em-mob-width-100perc" border="0" cellspacing="0" cellpadding="0"
                                        align="center">
                                        <tbody>
                                            <tr>
                                                <td class="em-mob-wrap em-mob-width-100perc" valign="top" width="580">
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 20px 0 10px;">
                                                                    <div
                                                                        style="font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-size: 30px; line-height: 37px; color: #333333;">
                                                                        <strong>Dear Customer</strong></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom: 10px;">
                                                                    <div
                                                                        style="font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-size: 16px; line-height: 21px; color: #5a5a5a;">
                                                                        This message is intentionally simple and
                                                                        personal &mdash; no images, no graphics, no
                                                                        decorative formatting. It&rsquo;s designed to
                                                                        feel like a real, direct email you would send
                                                                        one-on-one, without any extra elements that
                                                                        might distract from the main point.<br>By
                                                                        keeping the content clean and straightforward,
                                                                        your readers can focus entirely on your words,
                                                                        making the message feel more genuine, more
                                                                        human, and more relevant. This format often
                                                                        leads to higher engagement because it feels
                                                                        natural and authentic, just like a personal
                                                                        conversation in their inbox.<br><br><span
                                                                            style="font-weight: bold;">Best regards,
                                                                            Your Company</span></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom: 30px; padding-top: 20px;">
                                                                    <div
                                                                        style="font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-size: 16px; line-height: 21px; color: #5a5a5a;">
                                                                        <a style="text-decoration: underline; font-size: 15px; color: #e16640;"
                                                                            target="_blank"><span
                                                                                style="font-weight: bold; color: #e16640;">Get
                                                                                more</span></a></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    0px0px
                                </td>
                            </tr>
                            <tr class="em-structure">
                                <td class="em-mob-padding_left-20 em-mob-padding_right-20" style="padding: 30px 40px;"
                                    align="center">
                                    <table class="em-mob-width-100perc" border="0" cellspacing="0" cellpadding="0"
                                        align="center">
                                        <tbody>
                                            <tr>
                                                <td class="em-mob-wrap em-mob-width-100perc" valign="top" width="580">
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding: 20px 0 0; border-top: 1px solid #EEEEEE;"
                                                                    height="0">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"><img
                                                                        src="https://hostmeprod.blob.core.windows.net/emailtemplates/default/img/logo.png"
                                                                        alt="" width="79" height="30"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom: 9px;">
                                                                    <div style="font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-size: 16px; line-height: 21px; color: #5a5a5a;"
                                                                        align="center">26901 Malibu Hills Rd, Calabasas,
                                                                        CA&nbsp;91301</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom: 10px;">
                                                                    <div style="font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-size: 16px; line-height: 21px; color: #5a5a5a;"
                                                                        align="center"><a
                                                                            style="text-decoration: underline; color: #b92020;"
                                                                            href="mailto:email@gmail.com"
                                                                            target="_blank">email@gmail.com</a></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom: 10px;">
                                                                    <div style="font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-size: 16px; line-height: 21px; color: #5a5a5a;"
                                                                        align="center"><a
                                                                            style="color: #333333; text-decoration: underline;"
                                                                            href="https://www.hostmeapp.com/notice/unsubscribe">Unsubscribe</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-top: 10px; padding-bottom: 10px;"
                                                                    align="center">
                                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center" width="40"><a
                                                                                        target="_blank"><img
                                                                                            src="https://hostmeprod.blob.core.windows.net/restaurants/41276/images/af7f302e-5f48-43ea-bf9c-9868aaa950f2.png"
                                                                                            alt="" width="32"
                                                                                            height="32"></a></td>
                                                                                <td align="center" width="40"><a
                                                                                        target="_blank"><img
                                                                                            src="https://hostmeprod.blob.core.windows.net/restaurants/41276/images/b47ec663-90e8-40c8-890d-37d82ad404e4.png"
                                                                                            alt="" width="32"
                                                                                            height="32"></a></td>
                                                                                <td align="center" width="40"><a
                                                                                        target="_blank"><img
                                                                                            src="https://hostmeprod.blob.core.windows.net/restaurants/41276/images/31c32e5d-b2ad-4f6b-82a3-838e84dc9eae.png"
                                                                                            alt="" width="32"
                                                                                            height="32"></a></td>
                                                                                <td align="center" width="40"><a
                                                                                        target="_blank"><img
                                                                                            src="https://hostmeprod.blob.core.windows.net/restaurants/41276/images/5a9a2528-8df5-4e68-8d23-91c6ebce6cfc.png"
                                                                                            alt="" width="32"
                                                                                            height="32"></a></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="em-mob-width-100perc" border="0" width="100%"
                                                        cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-bottom: 10px;">
                                                                    <div style="font-family: -apple-system, 'Segoe UI', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; font-size: 16px; line-height: 21px; color: #5a5a5a;"
                                                                        align="center"><a
                                                                            style="text-decoration: underline; color: #b92020;"
                                                                            target="_blank">www.website.com</a></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- [if (gte mso 9)|(IE)]>
				</td></tr></table>
				<![endif]-->
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>