<tr role="module-content">
    <td height="100%" valign="top">
        <table width="560" style="width:560px; border-spacing:0; border-collapse:collapse; margin:0px 10px 0px 10px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="" class="column column-0">
            <tbody>
                <tr>
                    <td style="padding:0px;margin:0px;border-spacing:0;">
                        <table class="module" role="module" data-type="code" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="f1b7db23-2223-42a9-905c-79343c8331e9">
                            <tbody>
                                <tr>
                                    <td height="100%" valign="top" role="module-content">
                                        {{#if CUSTOMUI.SHOWCUSTOMPOLICY1}}

                                        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="1px" style="line-height:1px; font-size:1px; padding:0px 0px 20px 0px;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:0px 0px 1px 0px;" bgcolor="#eeeeee"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div>
                                            <h2 style="text-align: start;margin-top:0"><span style="color: #666666; font-size: 16px">{{I18N.CUSTOMPOLICY1.TITLE}}</span></h2>
                                            <div>{{{I18N.CUSTOMPOLICY1.CONTENT}}}</div>
                                        </div>
                                        {{/if}}
                                    </td>
                                </tr>
                            </tbody>
                        </table><table class="module" role="module" data-type="code" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="f1b7db23-2223-42a9-905c-79343c8331e9.1">
                            <tbody>
                                <tr>
                                    <td height="100%" valign="top" role="module-content">
                                        {{#if CUSTOMUI.SHOWCUSTOMPOLICY2}}

                                        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="1px" style="line-height:1px; font-size:1px; padding:0px 0px 20px 0px;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:0px 0px 1px 0px;" bgcolor="#eeeeee"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div>
                                            <h2 style="text-align: start;margin-top:0"><span style="color: #666666; font-size: 16px">{{I18N.CUSTOMPOLICY2.TITLE}}</span></h2>
                                            <div>{{{I18N.CUSTOMPOLICY2.CONTENT}}}</div>
                                        </div>
                                        {{/if}}
                                    </td>
                                </tr>
                            </tbody>
                        </table><table class="module" role="module" data-type="code" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="f1b7db23-2223-42a9-905c-79343c8331e9.1.1">
                            <tbody>
                                <tr>
                                    <td height="100%" valign="top" role="module-content">
                                        {{#if CUSTOMUI.SHOWCUSTOMPOLICY3}}

                                        <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="1px" style="line-height:1px; font-size:1px; padding:0px 0px 20px 0px;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:0px 0px 1px 0px;" bgcolor="#eeeeee"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div>
                                            <h2 style="text-align: start;margin-top:0"><span style="color: #666666; font-size: 16px">{{I18N.CUSTOMPOLICY3.TITLE}}</span></h2>
                                            <div>{{{I18N.CUSTOMPOLICY3.CONTENT}}}</div>
                                        </div>
                                        {{/if}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>