<tr role="module-content">
    <td height="100%" valign="top">
        <table width="280" style="width:280px; border-spacing:0; border-collapse:collapse; margin:0px 10px 0px 0px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="" class="column column-0">
            <tbody>
                <tr>
                    <td style="padding:0px;margin:0px;border-spacing:0;">
                        <table class="module" role="module" data-type="code" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="4f5a2d5e-bfc5-4535-934c-5777f20efbc0">
                            <tbody>
                                <tr>
                                    <td height="100%" valign="top" role="module-content">
                                        {{#if CUSTOMUI.SHOWPROMO}}
                                        <div style="font-family: Montserrat, &quot;Open Sans&quot;,&quot;Segoe UI&quot;,SegoeUI,sans-serif,&quot;SF Pro Display&quot;,&quot;Helvetica Neue&quot;,Lato; text-align: inherit">
                                            <h2 style="text-align: inherit;margin-top:0"><span style="color: #44413e; font-size: 16px">{{Promo.Title}}</span></h2>
                                            <div style="text-align: inherit; margin-bottom: 10px">{{{Promo.Content}}}</div>
                                        </div>
                                        {{/if}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table><table width="280" style="width:280px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 10px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="" class="column column-1">
            <tbody>
                <tr>
                    <td style="padding:0px;margin:0px;border-spacing:0;">
                        <table class="module" role="module" data-type="code" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="4f5a2d5e-bfc5-4535-934c-5777f20efbc0.1">
                            <tbody>
                                <tr>
                                    <td height="100%" valign="top" role="module-content">
                                        {{#if CUSTOMUI.SHOWPROMO}}
                                        <img width="258" class="max-width" style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:100% !important; width:100%; height:auto !important;" alt="" src="{{Promo.Image}}" border="0" data-proportionally-constrained="true" data-responsive="true" />
                                        {{/if}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>